/* @import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Permanent+Marker&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Meddon&family=Permanent+Marker&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}

.header-bg{
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    z-index: 1000;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 1rem; 
}

.logo{
    font-family: 'Meddon', cursive;
    color: aliceblue;
    text-decoration: none;
    font-size: 35px;
}

.nav-menu li{
    padding: 0 1rem;
    list-style-type: none;
    
}

.nav-menu li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Permanent Marker', cursive;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 1040px) {
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 1);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
    }

    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
        padding: 1rem 0;
        font-size: small;
    }
    .hamburger{
        display: initial;
    }

  }